.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* CSS de Projects*/
.cards_project {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
}

/* CSS de Resume*/
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* CSS de Contact*/
.contact-body {
  margin: auto;
  position: relative;
  width: 90%;
  height: 90%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 0.5em;
  border-spacing: 0.7em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS de Projects*/
@media (min-width: 600px) {
  .cards_project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards_project {
    grid-template-columns: repeat(3, 1fr);
  }
}
